<main>
    {{!-- Filtros --}}
    <nav class="d-flex flex-column container my-3" id="filters">

        <div class="rounded bg-light p-3 d-flex">

            <div class="p-2 dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-mdb-toggle="dropdown" aria-expanded="false">
                    Ordenar por
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a id="linkDesc" class="dropdown-item" href="">Mayor precio</a></li>
                    <li><a id="linkAsc" class="dropdown-item" href="">Menor precio</a></li>
                </ul>
            </div>

            <div class="p-2 dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-mdb-toggle="dropdown" aria-expanded="false">Categorias</button>
                <ul class="dropdown-menu">
                    <li><a id="category-hogar" class="dropdown-item" href="">Hogar</a></li>
                    <li><a id="category-dormitorio" class="dropdown-item" href="">Dormitorio</a>
                    </li>
                    <li><a id="category-jardin" class="dropdown-item" href="">Jardin</a></li>
                    <li><a id="category-escritorios" class="dropdown-item" href="">Escritorios</a>
                    </li>
                </ul>
            </div>

            <div class="p-2 dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-mdb-toggle="dropdown" aria-expanded="false">Por disponibilidad</button>

                <ul class="dropdown-menu">
                    <li><a id="status-true" class="dropdown-item" href="">Disponibles</a></li>
                    <li><a id="status-false" class="dropdown-item" href="">Consultar Stock</a></li>
                </ul>
            </div>

            <div class="p-2">
                <a id="delete-filters" type="button" class="btn btn-outline-dark" href="">Borrar
                    filtros</a>
            </div>
        </div>

    </nav>

    <section class="container">
        {{!-- Productos --}}
        <div class="d-flex justify-content-between flex-wrap py-3" id="products-container" style="gap: 2rem;">
            {{#each products.payload}}
            <article class="card" style="width: 24rem; height: min-content;">
                <img src="{{this.thumbnails.[0]}}" class="card-img-top" alt="Imagen del producto">

                <div class="card-body d-flex">

                    <h5 class="card-title my-1">{{this.title}}
                        {{#if this.status}}
                        <span class="badge text-bg-success text-light fw-normal">Disponible</span>
                        {{else}}
                        <span class="badge text-bg-secondary text-light fw-normal">Sin stock</span>
                        {{/if}}
                    </h5>

                    <div class="d-flex justify-content-between align-items-center m-0 flex-wrap my-2">
                        {{#if this.status}}
                        <h6 class="card-title my-3">Stock: <span class="stock"
                                data-product-id="{{this._id}}">{{this.stock}}</span> unidades
                        </h6>
                        {{else}}
                        <h6 class="card-title my-3">Stock: <span class="stock" data-product-id="{{this._id}}">0</span>
                            unidades
                        </h6>
                        {{/if}}

                        <h5 class="card-title product-price m-0">${{this.price}}</h5>
                    </div>


                    {{!-- Contador y Agregar al carrito --}}
                    <div class="d-flex justify-content-between">
                        {{#if this.status}}
                        {{!-- Contador --}}
                        <div
                            class="d-flex flex-row justify-content-between align-items-center rounded counter bg-secondary mb-2">

                            <button class="btn btn-secondary minus rounded-start bg-secondary text-light border-0 p-3"
                                data-product-id="{{this._id}}" style="height: fit-content;">
                                -
                            </button>

                            <p class="btn btn-secondary number bg-secondary text-light m-0 p-3"
                                data-product-id="{{this._id}}" style="height: fit-content;">
                                0
                            </p>

                            <button class="btn btn-secondary add rounded-end bg-secondary text-light border-0 p-3"
                                data-product-id="{{this._id}}" style="height: fit-content;">
                                +
                            </button>
                        </div>

                        {{!-- Agregar al carrito --}}
                        <button class="btn btn-success addToCart p-3" data-product-id="{{this._id}}"
                            style="height: fit-content;">
                            Agregar al
                            carrito
                        </button>

                        {{else}}

                        {{!-- Contador --}}
                        <div
                            class="d-flex flex-row justify-content-between align-items-center rounded counter bg-secondary mb-2">

                            <button
                                class="btn btn-secondary minus rounded-start bg-secondary text-light border-0 p-3 disabled"
                                data-product-id="{{this._id}}" style="height: fit-content;">
                                -
                            </button>

                            <p class="btn btn-secondary number bg-secondary text-light m-0 p-3 disabled"
                                data-product-id="{{this._id}}" style="height: fit-content;">
                                0
                            </p>

                            <button
                                class="btn btn-secondary add rounded-end bg-secondary text-light border-0 p-3 disabled"
                                data-product-id="{{this._id}}" style="height: fit-content;">
                                +
                            </button>

                        </div>

                        <button class="btn btn-dark addToCart disabled p-3 bg-secondary" data-product-id="{{this._id}}"
                            style="height: fit-content;">
                            Agregar
                            al
                            carrito
                        </button>
                        {{/if}}
                    </div>

                    {{#if this.shortDescription}}
                    <p class="card-text mt-4">{{this.shortDescription}}...</p>
                    {{else}}
                    <p class="card-text mt-4">{{this.description}}</p>
                    {{/if}}

                    {{!-- Ver mas --}}
                    <a href="/product/{{this._id}}" class="btn btn-primary p-3 view-details"
                        style="height: fit-content;">
                        Ver
                        más
                    </a>
                </div>
            </article>
            {{/each}}
        </div>

        {{!-- Paginacion --}}
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#if products.prevLink}}
                    <li class="page-item"><a class="page-link" href="{{products.prevLink}}">Anterior</a></li>
                    {{else}}
                    <li class="page-item disabled"><span class="page-link" href="{{products.prevLink}}">Anterior</span>
                    </li>
                    {{/if}}

                    {{#each products.totalPagesArray}}
                    <li class="page-item"><a class="page-link" href="/products?page={{this}}">{{this}}</a>
                    </li>
                    {{/each}}

                    {{#if products.nextLink}}
                    <li class="page-item"><a class="page-link" href="{{products.nextLink}}">Siguiente</a></li>
                    {{else}}
                    <li class="page-item disabled"><span class="page-link" href="{{products.nextLink}}">Siguiente</span>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>

    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/products.js"></script>